//Font
$site-font: 'Titillium Web', sans-serif;

//Colors
$purple: #87509c;
$acqua: #17c2a4;
$dark-acqua: #14a58c;
$orange: #eb7d4b;
$dark-orange: #c86a40;
$dark-blue: #3c4761;
$blue: #c8d9e5;
$light-blue: #e7f1f8;
$yellow: #ffdd99;
$dark-yellow: #e5c37f;
$pink: #d74680;
$dark-pink: #b73c6d;
$grey: #787878;
$white: #ffffff;
$red: #ff4444;
$black: #393939;

$form-blue: #3c5499;
$form-dark-blue: #273a71;
$form-button-blue: #30bae7;
$form-button-shadow: #299ec5;

$footer-blue: #344b8e;

//Components
$menu-desktop-height: 94px;
$menu-mobile-height: 104px;
