@import 'compass/css3/';
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700');
@import 'variables';


html, body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: $site-font;
}

* {
    box-sizing: border-box;
}

img {
    display: block;
}

.content {
    width: 100%;
    max-width: 1035px;
    margin: 0 auto;
    padding: 145px 15px;

    @media (min-width: 501px) and (max-width: 750px) {
        padding: 100px 15px;
    }

    @media (max-width: 500px) {
        padding: 60px 10px;
    }
}

.break {
    display: block;

    @media (max-width: 800px) {
        display: inline;
    }
}

.line {
    width: 90px;
    height: 4px;
    margin: 15px auto;

    &.acqua {
        background-color: $dark-acqua;
    }

    &.blue {
        background-color: $blue;
    }

    &.dark-blue {
        background-color: $form-dark-blue;
    }

    &.pink {
        background-color: $dark-pink;
    }

    &.yellow {
        background-color: $dark-yellow;
    }
}

@import 'templates/menu',
        'templates/home',
        'templates/services',
        'templates/team',
        'templates/skills',
        'templates/portfolio',
        'templates/testimonials',
        'templates/contact',
        'templates/footer';