.contact {
    background-color: $form-blue;
    color: $white;

    &__title {
        font-size: 40px;
        text-align: center;
        text-transform: uppercase;
        margin: 0;

        @media (min-width: 501px) and (max-width: 750px) {
            font-size: 33px;
        }

        @media (max-width: 500px) {
            font-size: 23px;
        }
    }

    &__text {
        font-size: 18px;
        text-align: center;

        @media (max-width: 500px) {
            font-size: 15px;
        }
    }

    &__form {
        width: 100%;
        padding: 0 60px;
        margin-top: 80px;

        @media (min-width: 401px) and (max-width: 768px) {
            padding: 0 30px;
        }

        @media (max-width: 400px) {
            padding: 0 15px;
            margin-top: 40px;
        }

        &__row {
            display: flex;
            margin-bottom: 30px;

            @media (max-width: 700px) {
                flex-wrap: wrap;
            }

            &--centered {
                justify-content: center;
            }

            &__name {
                margin-right: 40px;

                @media (max-width: 700px) {
                    margin-right: 0;
                }
            }

            &__placeholder {
                position: absolute;
                z-index: 1;
                top: 50%;
                @include transform( translateY(-50%) );
                left: 20px;
                color: $white;
                font-size: 18px;
                margin: 0;
                cursor: text;

                @media (max-width: 400px) {
                    font-size: 15px;
                }

                @media (max-width: 700px) {
                    top: 40%;
                }

                &--top {
                    top: 20px;
                    @include transform(none);
                }

                span {
                    color: $red;
                }
            }

            &__submit {
                display: inline-block;
                text-transform: uppercase;
                color: $white;
                font-size: 18px;
                background-color: $form-button-blue;
                border: 0;
                border-bottom: 4px solid $form-button-shadow;
                border-radius: 10px;
                padding: 30px 85px;
                cursor: pointer;
        
                @media (max-width: 500px) {
                    padding: 15px 42px;
                }
            }

            label {
                width: 100%;
                position: relative;
            }

            input {
                width: 100%;
                flex: 0 1 50%;
                height: 55px;
                border: 0;
                padding: 0 20px;
                font-family: $site-font;
                font-size: 18px;
                border-radius: 5px;
                background-color: $form-dark-blue;
                color: $white;

                @media (max-width: 400px) {
                    font-size: 15px;
                }

                @media (max-width: 700px) {
                    flex: 0 1 100%;
                    margin-bottom: 15px;
                }
            }

            textarea {
                width: 100%;
                max-width: 100%;
                min-width: 100%;
                min-height: 230px;
                max-height: 400px;
                border-radius: 5px;
                background-color: $form-dark-blue;
                border: 0;
                padding: 20px;
                font-family: $site-font;
                font-size: 18px;
                color: $white;
            }
        }
    }
}