.footer {
    background-color: $footer-blue;

    .content {
        padding: 45px 15px;
        display: flex;
        justify-content: space-between; 
        flex-wrap: wrap;

        @media (max-width: 760px) {
            justify-content: center;
        }
    }

    &__links {
        color: $white;
        font-size: 24px;
        font-weight: 600;
        text-decoration: none;
        margin: 0 10px;

        @media (max-width: 415px) {
            font-size: 18px;
        }

        &:hover {
            color: $form-button-blue;
        }
    }
}