.home {
    padding-top: $menu-desktop-height;
    background-color: $purple;
    color: $white;

    @media (max-width: 700px) {
        padding-top: $menu-mobile-height;
    }

    .content {
        text-align: center;
    }
    
    &__text {
        font-weight: 800;
        font-size: 42px;
        margin-bottom: 60px;

        @media (min-width: 501px) and (max-width: 750px) {
            font-size: 35px;
        }

        @media (max-width: 500px) {
            font-size: 25px;
            margin-bottom: 30px;
        }
    }

    &__btn {
        display: inline-block;
        text-transform: uppercase;
        color: $white;
        font-size: 18px;
        background-color: $orange;
        border-bottom: 4px solid $dark-orange;
        border-radius: 10px;
        padding: 30px 85px;
        cursor: pointer;

        @media (max-width: 500px) {
            padding: 15px 42px;
        }
    }
}