.menu {
    width: 100%;
    margin: 0 auto;
    padding-top: 57px;
    position: fixed;
    display: flex;
    justify-content: center;
    top: 0;
    left: 50%;
    z-index: 999;
    transition: all .5s ease;
    @include transform( translateX(-50%) );

    @media (max-width: 850px) {
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: rgba(0, 0, 0, 0.7);
    }

    &--scrolled {
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: rgba(0, 0, 0, 0.7);
    }

    &__content {
        display: flex;
        max-width: 1035px;
        align-items: center;
        justify-content: space-between;
        padding-left: 15px;
        flex: 1 1 auto;

        &__logo {
            max-width: 100%;
            height: auto;
        }

        &__navigation {

            @media (max-width: 850px) {
                display: none;
            }

            &__item {
                text-decoration: none;
                margin-right: 10px;
                padding: 5px 15px;
                color: #fff;
                border-radius: 5px;


                &:last-child {
                    margin-right: 0;
                }

                &--active,
                &:hover {
                    background-color:rgba(0, 0, 0, 0.5);
                }
            }

            &__mobile {
                width: 50px;
                color: $white;
                padding-right: 15px;
                display: none;
                cursor: pointer;

                @media (max-width: 850px) {
                    display: block;
                }

                img {
                    width: 100%;
                }
            }
        }
    }

    &__mobile {
        position: absolute;
        top: 100%;
        display: flex;
        right: -100%;
        width: 40%;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.7);
        transition: right .5s ease;

        @media (min-width: 850px) {
            display: none;
        }

        &--open {
            right: 0;
        }

        &__item {
            padding: 10px;
            color: #fff;
            text-decoration: none;
        }
    }
}