.portfolio {
    background-color: $yellow;
    color: $black;

    &__title {
        font-size: 40px;
        text-align: center;
        text-transform: uppercase;
        margin: 0;

        @media (min-width: 501px) and (max-width: 750px) {
            font-size: 33px;
        }

        @media (max-width: 500px) {
            font-size: 23px;
        }
    }

    &__text {
        font-size: 18px;
        text-align: center;

        @media (max-width: 500px) {
            font-size: 15px;
        }
    }

    .tabs {
        margin-top: 40px;

        &__header {
            display: flex;
            justify-content: center;
            margin-bottom: 60px;

            &__item {
                padding: 12px 27px;
                text-transform: uppercase;
                background-color: $dark-yellow;
                border-radius: 5px;
                margin-right: 10px;
                cursor: pointer;
                user-select: none;

                @media (max-width: 400px) {
                    font-size: 14px;
                    padding: 8px 19px;
                }

                &--active {
                    pointer-events: none;
                }

                &--active,
                &:hover {
                    background-color: $white;
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        &__content {
            display: flex;
            flex-wrap: wrap;

            &__item {
                flex: 0 1 50%;
                flex-basis: calc(50% - 20px);
                padding: 0 10px;
                margin-top: 55px;

                @media (max-width: 550px) {
                    flex: 0 1 100%;
                    margin-top: 30px;
                }
                
                &:nth-child(1),
                &:nth-child(2) {
                    margin-top: 0;
                }
                
                @media (max-width: 550px) {
                    &:nth-child(2) {
                        margin-top: 30px;
                    }
                }

                img {
                    width: 100%;
                }

                p {
                    font-size: 18px;
                    text-transform: uppercase;
                    text-align: center;

                    @media (min-width: 551px) and (max-width: 645px) {
                        font-size: 15px;
                    }
                }
            }
        }

        &__load {
            display: flex;
            justify-content: center;
            margin-top: 80px;

            &__btn {
                display: inline-block;
                text-transform: uppercase;
                color: $white;
                font-size: 18px;
                background-color: $acqua;
                border-bottom: 4px solid $dark-acqua;
                border-radius: 10px;
                padding: 30px 85px;
                cursor: pointer;
        
                @media (max-width: 500px) {
                    padding: 15px 42px;
                }
            }
        }
    }
}