.services {
    background-color: $acqua;
    color: $white;

    &__title {
        font-size: 40px;
        text-align: center;
        text-transform: uppercase;
        margin: 0;

        @media (min-width: 501px) and (max-width: 750px) {
            font-size: 33px;
        }

        @media (max-width: 500px) {
            font-size: 23px;
        }
    }

    &__text {
        font-size: 18px;
        text-align: center;

        @media (max-width: 500px) {
            font-size: 15px;
        }
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        margin-top: 80px;

        @media (max-width: 450px) {
            margin-top: 40px;
        }
        
        &__col {
            flex: 0 1 25%;

            @media (max-width: 900px) {
                flex: 0 1 50%;
                margin-bottom: 20px;
            }

            @media (max-width: 450px) {
                flex: 0 1 100%;
                margin-bottom: 30px;
                display: flex;
                align-items: center;
            }

            &__image {
                min-height: 133px;

                @media (max-width: 450px) {
                    min-width: 133px;
                }

                @media(max-width: 320px) {
                    min-width: 110px;
                }

                img {
                    margin: 0 auto;
                    max-width: 100%;
                    height: auto;
                }
            }

            &__text {
                text-align: center;

                h3 {
                    text-transform: uppercase;
                    font-size: 24px;

                    @media (min-width: 450px) and (max-width: 500px) {
                        font-size: 18px;
                    }

                    @media (max-width: 449px) {
                        margin: 0;
                        margin-top: 15px;
                        text-align: left;
                        padding-left: 22px;
                    }
                }

                p {
                    padding: 0 22px;

                    @media (min-width: 450px) and (max-width: 500px) {
                        font-size: 13px;
                    }

                    @media (max-width: 449px) {
                        margin: 0;
                        text-align: left;
                    }
                }
            }
        }
    }
}