.team {
    background-color: $light-blue;
    color: $dark-blue;

    &__title {
        font-size: 40px;
        text-align: center;
        text-transform: uppercase;
        margin: 0;

        @media (min-width: 501px) and (max-width: 750px) {
            font-size: 33px;
        }

        @media (max-width: 500px) {
            font-size: 23px;
        }
    }

    &__text {
        font-size: 18px;
        text-align: center;

        @media (max-width: 500px) {
            font-size: 15px;
        }
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        margin-top: 80px;
        
        &__col {
            flex: 0 1 25%;

            @media (max-width: 900px) {
                flex: 0 1 50%;
                margin-bottom: 20px;
            }

            @media (max-width: 450px) {
                flex: 0 1 100%;
                margin-bottom: 35px;
            }

            &__image {
                min-height: 133px;

                img {
                    margin: 0 auto;
                    max-width: 100%;
                    height: auto;
                }
            }

            &__text {
                text-align: center;

                h3 {
                    text-transform: uppercase;
                    font-size: 24px;
                    margin: 0;
                    margin-top: 30px;

                    @media (min-width: 450px) and (max-width: 500px) {
                        font-size: 18px;
                    }
                }

                span {
                    color: $form-button-blue;
                    font-weight: 400;
                }

                p {
                    padding: 0 22px;

                    @media (min-width: 450px) and (max-width: 500px) {
                        font-size: 13px;
                    }
                }
            }

            &__social {
                display: flex;
                justify-content: center;
                margin-top: 30px;

                a {
                    margin: 0 5px;

                    &:first-child {
                        margin-left: 0;
                    }

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}