.testimonials {
    background-color: $pink;
    color: $white;

    &__title {
        font-size: 40px;
        text-align: center;
        text-transform: uppercase;
        margin: 0;

        @media (min-width: 501px) and (max-width: 750px) {
            font-size: 33px;
        }

        @media (max-width: 500px) {
            font-size: 23px;
        }
    }

    &__text {
        font-size: 18px;
        text-align: center;

        @media (max-width: 500px) {
            font-size: 15px;
        }
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        margin-top: 80px;
        justify-content: center;

        @media (max-width: 450px) {
            margin-top: 40px;
        }

        &__col {
            flex: 0 1 50%;
            display: flex;
            margin-bottom: 140px;

            @media (max-width: 820px) {
                flex: 0 1 100%;
                margin-bottom: 40px;
            }
            
            &:nth-child(3),
            &:nth-child(4) {
                margin-bottom: 0px;

                @media (max-width: 820px) {
                    margin-bottom: 40px;
                }
            }

            &__image {
                margin-right: 50px;

                @media (max-width: 375px) {
                   margin-right: 20px;
                }
                
                img {
                    max-width: 100px;

                    @media (max-width: 375px) {
                        max-width: 60px;
                    }
                }
            }

            &__text {
                padding-right: 25px;

                @media (max-width: 375px) {
                    padding-right: 0;
                }

                h3 {
                    text-transform: uppercase;
                    font-size: 24px;
                    margin: 0;

                    @media (min-width: 450px) and (max-width: 500px) {
                        font-size: 18px;
                    }

                    @media (max-width: 449px) {
                        margin: 0;
                        margin-top: 15px;
                    }

                    @media (max-width: 320px) {
                        font-size: 18px;
                    }
                }
                
                p {
                    font-style: italic;
                    margin-top: 0;
                }

                span {
                    color: $yellow;
                }
            }
        }
    }
}