<section class="contact">
    <div class="content">
        <h2 class="contact__title">Get in touch</h2>
        <div class="line dark-blue"></div>
        <p class="contact__text">
            1600 Pennsylvania Ave NW, Washington, DC 20500, United States of America. Tel: (202) 456-1111
        </p>

        <form class="contact__form" method="post">
            <div class="contact__form__row">
                <label for="name" class="contact__form__row__name">
                    <input type="text" name="name">
                    <p class="contact__form__row__placeholder">Your name <span>*</span></p>
                </label>
                <label for="email" class="contact__form__row__email">
                    <input type="email" name="email">
                    <p class="contact__form__row__placeholder">Your email <span>*</span></p>
                </label>
            </div>
            <div class="contact__form__row">
                <label for="message" class="contact__form__row__message">
                    <textarea name="message"></textarea>
                    <p class="contact__form__row__placeholder contact__form__row__placeholder--top">Your Message <span>*</span></p>
                </label>
            </div>
            <div class="contact__form__row contact__form__row--centered">
                <button type="submit" class="contact__form__row__submit">Send message</div>
            </div>
        </form>
    </div>
</section>