<footer class="footer">
    <div class="content">
        <a href="#" target="_blank" class="footer__links">Facebook</a>
        <a href="#" target="_blank" class="footer__links">Twitter</a>
        <a href="#" target="_blank" class="footer__links">Google+</a>
        <a href="#" target="_blank" class="footer__links">LinkedIn</a>
        <a href="#" target="_blank" class="footer__links">Behance</a>
        <a href="#" target="_blank" class="footer__links">Dribble</a>
        <a href="#" target="_blank" class="footer__links">Github</a>
    </div>
</footer>