<section class="home">
    <div class="content">
        <h1 class="home__text">Hi there! We are the new kids on the block<span class="break"></span> 
            and we build awesome websites and mobile apps.
        </h1>

        <div class="home__btn">Work with us!</div>
    </div>
</section>