<nav class="menu">
    <div class="menu__content">
        <div class="menu__content__logo">
            <img src="@@baseImgURL/menu/logo.png" alt="CUDA Logo">
        </div>
        <div class="menu__content__navigation">
            <a href="#" data-target="home" class="menu__content__navigation__item menu__content__navigation__item--active">Home</a>
            <a href="#" data-target="services" class="menu__content__navigation__item">Services</a>
            <a href="#" data-target="team" class="menu__content__navigation__item">Team</a>
            <a href="#" data-target="skills" class="menu__content__navigation__item">Skills</a>
            <a href="#" data-target="portfolio" class="menu__content__navigation__item">Portfolio</a>
            <a href="#" data-target="testimonials" class="menu__content__navigation__item">Testimonials</a>
            <a href="#" data-target="contact" class="menu__content__navigation__item">Contact</a>
        </div>
        <div class="menu__content__navigation__mobile">
            <img src="@@baseImgURL/menu/menu_mobile_icon.svg" alt="Menu">
        </div>
    </div>
    <div class="menu__mobile">
        <a href="#" data-target="home" class="menu__mobile__item">Home</a>
        <a href="#" data-target="services" class="menu__mobile__item">Services</a>
        <a href="#" data-target="team" class="menu__mobile__item">Team</a>
        <a href="#" data-target="skills" class="menu__mobile__item">Skills</a>
        <a href="#" data-target="portfolio" class="menu__mobile__item">Portfolio</a>
        <a href="#" data-target="testimonials" class="menu__mobile__item">Testimonials</a>
        <a href="#" data-target="contact" class="menu__mobile__item">Contact</a>
    </div>
</nav>