<section class="portfolio">
    <div class="content">
        <h2 class="portfolio__title">Our Portfolio</h2>
        <div class="line yellow"></div>
        <p class="portfolio__text">
            Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet<span class="break"></span>
            consectetur, adipisci velit, sed quia non numquam
        </p>

        <div class="tabs">
            <div class="tabs__header">
                <div class="tabs__header__item tabs__header__item--active" data-type="all">All</div>
                <div class="tabs__header__item" data-type="web">Web</div>
                <div class="tabs__header__item" data-type="app">Apps</div>
                <div class="tabs__header__item" data-type="icon">Icons</div>
            </div>
            <div class="tabs__content">
                <!-- <div class="tabs__content__item">
                    <img src="@@baseImgURL/portfolio/portfolio-1.png" alt="CUDA - Isometric perspective mock-up">
                    <p>Isometric perspective mock-up</p>
                </div>
                <div class="tabs__content__item">
                    <img src="@@baseImgURL/portfolio/portfolio-1.png" alt="CUDA - Isometric perspective mock-up">
                    <p>Isometric perspective mock-up</p>
                </div>
                <div class="tabs__content__item">
                    <img src="@@baseImgURL/portfolio/portfolio-1.png" alt="CUDA - Isometric perspective mock-up">
                    <p>Isometric perspective mock-up</p>
                </div>
                <div class="tabs__content__item">
                    <img src="@@baseImgURL/portfolio/portfolio-1.png" alt="CUDA - Isometric perspective mock-up">
                    <p>Isometric perspective mock-up</p>
                </div> -->
            </div>
            <div class="tabs__load">
                <div class="tabs__load__btn">Load more projects</div>
            </div>
        </div>
    </div>
</section>