<section class="services">
    <div class="content">
        <h2 class="services__title">Services we provide</h2>
        <div class="line acqua"></div>
        <p class="services__text">
            We are working with both individuals and businesses from all over the globe<span class="break"></span> 
            to create awesome websites and applications.
        </p>

        <div class="services__wrapper">
            <div class="services__wrapper__col">
                <div class="services__wrapper__col__image">
                    <img src="@@baseImgURL/services/services-1.png" alt="CUDA - Branding">
                </div>
                <div class="services__wrapper__col__text">
                    <h3>Branding</h3>
                    <p>
                        Lorem ipsum dolor sit amet, 
                        consectetuer adipiscing elit, sed diam nonummy nibh.
                    </p>
                </div>
            </div>
            <div class="services__wrapper__col">
                <div class="services__wrapper__col__image">
                    <img src="@@baseImgURL/services/services-2.png" alt="CUDA - Design">
                </div>
                <div class="services__wrapper__col__text">
                    <h3>Design</h3>
                    <p>
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                    </p>
                </div>
            </div>
            <div class="services__wrapper__col">
                <div class="services__wrapper__col__image">
                    <img src="@@baseImgURL/services/services-3.png" alt="CUDA - Development">
                </div>
                <div class="services__wrapper__col__text">
                    <h3>Development</h3>
                    <p>
                        At vero eos et accusamus et iusto odio dignissimos qui blanditiis praesentium.
                    </p>
                </div>
            </div>
            <div class="services__wrapper__col">
                <div class="services__wrapper__col__image">
                    <img src="@@baseImgURL/services/services-4.png" alt="CUDA - Rocket Science">
                </div>
                <div class="services__wrapper__col__text">
                    <h3>Rocket Science</h3>
                    <p>
                        Et harum quidem rerum est et expedita distinctio. Nam libero tempore.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>