<section class="skills">
    <div class="content">
        <h2 class="skills__title">We got Skills!</h2>
        <div class="line blue"></div>
        <p class="skills__text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod<span class="break"></span> 
                tempor incididunt ut labore et dolore magna aliqua.
        </p>

        <div class="skills__wrapper">
            <div class="skills__wrapper__col">
                <div class="skills__wrapper__col__image">
                    <img src="@@baseImgURL/skills/skill-1.png" alt="CUDA - Web Design">
                </div>
                <div class="skills__wrapper__col__text">
                    <h3>Web Design</h3>
                </div>
            </div>
            <div class="skills__wrapper__col">
                <div class="skills__wrapper__col__image">
                    <img src="@@baseImgURL/skills/skill-2.png" alt="CUDA - HTML / CSS">
                </div>
                <div class="skills__wrapper__col__text">
                    <h3>HTML / CSS</h3>
                </div>
            </div>
            <div class="skills__wrapper__col">
                <div class="skills__wrapper__col__image">
                    <img src="@@baseImgURL/skills/skill-3.png" alt="CUDA - Graphic Design">
                </div>
                <div class="skills__wrapper__col__text">
                    <h3>Graphic Design</h3>
                </div>
            </div>
            <div class="skills__wrapper__col">
                <div class="skills__wrapper__col__image">
                    <img src="@@baseImgURL/skills/skill-4.png" alt="CUDA - UI / UX">
                </div>
                <div class="skills__wrapper__col__text">
                    <h3>UI / UX</h3>
                </div>
            </div>
        </div>
    </div>
</section>