<section class="team">
    <div class="content">
            <h2 class="team__title">Meet Our Beautiful Team</h2>
            <div class="line blue"></div>
            <p class="team__text">
                We are a small team of designers and developers, who help brands with big ideas.
            </p>
    
            <div class="team__wrapper">
                <div class="team__wrapper__col">
                    <div class="team__wrapper__col__image">
                        <img src="@@baseImgURL/team/image-placeholder.png" alt="CUDA - Design">
                    </div>
                    <div class="team__wrapper__col__text">
                        <h3>Anne Hathaway</h3>
                        <span>CEO / Marketing Guru</span>
                        <p>
                            Lorem ipsum dolor sit amet, 
                            consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.
                        </p>
                    </div>
                    <div class="team__wrapper__col__social">
                        <a href="#"><img src="@@baseImgURL/team/facebook.png" alt="CUDA - Kate Upton Facebook"></a>
                        <a href="#"><img src="@@baseImgURL/team/twitter.png" alt="CUDA - Kate Upton Twitter"></a>
                        <a href="#"><img src="@@baseImgURL/team/linkedin.png" alt="CUDA - Kate Upton Linkedin"></a>
                        <a href="#"><img src="@@baseImgURL/team/email.png" alt="CUDA - Kate Upton Email"></a>
                    </div>
                </div>
                <div class="team__wrapper__col">
                    <div class="team__wrapper__col__image">
                        <img src="@@baseImgURL/team/image-placeholder.png" alt="CUDA - Branding">
                    </div>
                    <div class="team__wrapper__col__text">
                        <h3>Kate Upton</h3>
                        <span>Creative Director</span>
                        <p>
                            Duis aute irure dolor in in voluptate velit esse cillum dolore fugiat nulla pariatur. Excepteur sint occaecat non diam proident.
                        </p>
                    </div>
                    <div class="team__wrapper__col__social">
                        <a href="#"><img src="@@baseImgURL/team/twitter.png" alt="CUDA - Kate Upton Twitter"></a>
                        <a href="#"><img src="@@baseImgURL/team/linkedin.png" alt="CUDA - Kate Upton Linkedin"></a>
                        <a href="#"><img src="@@baseImgURL/team/email.png" alt="CUDA - Kate Upton Email"></a>
                    </div>
                </div>
                <div class="team__wrapper__col">
                    <div class="team__wrapper__col__image">
                        <img src="@@baseImgURL/team/image-placeholder.png" alt="CUDA - Development">
                    </div>
                    <div class="team__wrapper__col__text">
                        <h3>Olivia Wilde</h3>
                        <span>Lead Designer</span>
                        <p>
                            Nemo enim ipsam voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem nesciunt.
                        </p>
                    </div>
                    <div class="team__wrapper__col__social">
                        <a href="#"><img src="@@baseImgURL/team/facebook.png" alt="CUDA - Kate Upton Facebook"></a>
                        <a href="#"><img src="@@baseImgURL/team/twitter.png" alt="CUDA - Kate Upton Twitter"></a>
                        <a href="#"><img src="@@baseImgURL/team/linkedin.png" alt="CUDA - Kate Upton Linkedin"></a>
                        <a href="#"><img src="@@baseImgURL/team/email.png" alt="CUDA - Kate Upton Email"></a>
                    </div>
                </div>
                <div class="team__wrapper__col">
                    <div class="team__wrapper__col__image">
                        <img src="@@baseImgURL/team/image-placeholder.png" alt="CUDA - Rocket Science">
                    </div>
                    <div class="team__wrapper__col__text">
                        <h3>Ashley Greene</h3>
                        <span>SEO / Developer</span>
                        <p>
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
                        </p>
                    </div>
                    <div class="team__wrapper__col__social">
                        <a href="#"><img src="@@baseImgURL/team/facebook.png" alt="CUDA - Kate Upton Facebook"></a>
                        <a href="#"><img src="@@baseImgURL/team/twitter.png" alt="CUDA - Kate Upton Twitter"></a>
                        <a href="#"><img src="@@baseImgURL/team/email.png" alt="CUDA - Kate Upton Email"></a>
                    </div>
                </div>
            </div>
    </div>
</section>