<section class="testimonials">
    <div class="content">
        <h2 class="testimonials__title">What People Say About Us</h2>
        <div class="line pink"></div>
        <p class="testimonials__text">
                Our clients love us!
        </p>

        <div class="testimonials__wrapper">
            <div class="testimonials__wrapper__col">
                <div class="testimonials__wrapper__col__image">
                    <img src="@@baseImgURL/team/image-placeholder.png" alt="CUDA - Testimonial">
                </div>
                <div class="testimonials__wrapper__col__text">
                    <p>
                        "Nullam dapibus blandit orci, viverra gravida dui lobortis eget. Maecenas fringilla urna eu nisl scelerisque."
                    </p>
                    <h3>Chanel Iman</h3>
                    <span>CEO of Pinterest</span>
                </div>
            </div>
            <div class="testimonials__wrapper__col">
                <div class="testimonials__wrapper__col__image">
                    <img src="@@baseImgURL/team/image-placeholder.png" alt="CUDA - Testimonial">
                </div>
                <div class="testimonials__wrapper__col__text">
                    <p>
                        "Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta."
                    </p>
                    <h3>Adriana Lima</h3>
                    <span>Founder of Instagram</span>
                </div>
            </div>
            <div class="testimonials__wrapper__col">
                <div class="testimonials__wrapper__col__image">
                    <img src="@@baseImgURL/team/image-placeholder.png" alt="CUDA - Testimonial">
                </div>
                <div class="testimonials__wrapper__col__text">
                    <p>
                        "Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta."
                    </p>
                    <h3>Anne Hathaway</h3>
                    <span>Lead Designer at Behance</span>
                </div>
            </div>
            <div class="testimonials__wrapper__col">
                <div class="testimonials__wrapper__col__image">
                    <img src="@@baseImgURL/team/image-placeholder.png" alt="CUDA - Testimonial">
                </div>
                <div class="testimonials__wrapper__col__text">
                    <p>
                        "Phasellus non purus vel arcu tempor commodo. Fusce semper, purus vel luctus molestie, risus sem cursus neque."
                    </p>
                    <h3>Emma Stone</h3>
                    <span>Co-Founder of Shazam</span>
                </div>
            </div>
        </div>
    </div>
</section>